<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
      Email Inválido.
    </div>

    <label for="password">Senha:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
      Senha deve ter pelo menos 8 caracteres.
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
