<nav class="fixed top-0 right-0 left-0 bg-color1 text-white shadow-md p-4 flex justify-end space-x-4 z-10">
  <a *ngIf="!isLoggedIn()" routerLink="/login" class="hover:text-color5">Login</a>
  <a *ngIf="!isLoggedIn()" routerLink="/register" class="hover:text-color5">Registro</a>
  <span *ngIf="isLoggedIn()">Welcome, {{ userInfo?.name }}</span>
  <button *ngIf="isLoggedIn()" (click)="logout()" class="hover:text-color5">Logout</button>
</nav>
<div class="mt-16">
  <router-outlet></router-outlet>
</div>